nav {background:#FFF;float:left;}
nav ul {text-align:center; }
nav ul li {float:left;display:inline;}
nav ul li:hover {background:#E6E6E6;}
nav ul li a {display:block;padding:15px 25px;color:#444;}
nav ul li ul {position:block;width:110px;background:#FFF;}
nav ul li ul li {width:110px;}
nav ul li ul li a {display:block;padding:15px 10px;color:#444;}
nav ul li ul li:hover a {background:#F7F7F7;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}


nav ul li a 	{text-decoration: none; }

nav 		{clear:both;}
nav ul				{ padding: 0px 0px; margin:0; border-top: 1px #000000 dotted; width: 900px;}

nav li ul {position: absolute;z-index: 100;}